/*
    default element
*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

a{
  text-decoration: none;
}

/*
  container & global élément of container
*/
.container{
  display: flex;
  flex-direction: column;
}

#search, #subscription{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 2.7em;
  margin: 0;
}
.paragraphe{
  margin: 20px 0;
}
.paragraphe{
  opacity: 0.81;
  font-size: 18px;
}
.btn, input[type="submit"]{
  display: block;
  line-height: 60px;
  border: 1px solid  #fff;
  width: 230px;
  height: 60px;
  text-align: center;
  border-radius: 9999px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  transition: .2s;
  cursor: pointer;
  background-color: transparent;
}
/*
  result
*/
#result{
  background-image: linear-gradient(to top right, #0400ffba,#8f6bff, #1f7693);
  text-align: center;
  height: 100vh;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result .title{
  color: #fff;
}

#result .paragraphe{
  color: #fff;
  
}

#result .search:hover{
  background-color: #fff;
  color: #7900ff;
}

.view-result{
  border-bottom: 1px solid  #fff;
  color: cornsilk;
}

/*
  search
*/
#search{
  background-image: linear-gradient(to top right, #ff81aa,#408cd7e6, #61dfce);
  text-align: center;
}

#search .title{
  color: #fff;
}

#search .paragraphe{
  color: #fff;
  
}
#search .search:hover{
  background-color: #fff;
  color: #7900ff;
}
/*
  subscription
*/

#subscription .title{
  color: #198EF5;
}

form {
  text-align: -webkit-center;
}

.group-form{
  margin-bottom: 10px;
  position: relative;
}

.group-form > div{
  position: absolute;
  width: 40px;
  height: 40px; 
  top: 2px;
  left: 3px;
  
}

.group-form input[type="text"]{
  width: 250px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 9999px;
  padding-left: 15px;
  outline: none;
  font-size: 16px;
}

#subscription .subscription{
  background: #198ef5;
  margin: 0 auto;
}

#subscription .subscription:hover{
  background: #fff;
  color: #198EF5;
  border: 1px solid #198EF5;
}

@media (min-width: 992px){
  .container{
      flex-direction: row;
  }

  #search{
      width: 45%;
      text-align: center;
  }

  #subscription{
      width: 55%;
  }
}